KiCAD7/Line_Selector-backups/.DS_Store
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-21_225246.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-21_230547.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-22_071344.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-22_084635.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-22_103824.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-22_195316.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-23_073814.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-28_221627.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-28_222419.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-28_223036.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-28_223551.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-10-29_164124.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-03_123104.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-03_125738.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-11_082656.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-13_073715.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-13_074256.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-13_080317.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-13_080823.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-13_081349.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-17_214345.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-18_094852.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-18_195857.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-21_205614.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-21_223615.zip
KiCAD7/Line_Selector-backups/Line_Selector-2023-11-21_225356.zip
KiCAD7/production/.DS_Store
Line_Selector/Line_Selector_v1p0.pdf
Line_Selector/Line_Selector_v1p1.net
Line_Selector/Line_Selector_v1p1.pdf
Line_Selector/Line_Selector.kicad_pcb
Line_Selector/Line_Selector.kicad_prl
Line_Selector/Line_Selector.kicad_pro
Line_Selector/Line_Selector.kicad_sch
Line_Selector/Line_Selector.net
Line_Selector/Library.pretty/GND_BRG.kicad_mod
Line_Selector/Line_Selector-backups/.DS_Store
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-21_225246.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-21_230547.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-22_071344.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-22_084635.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-22_103824.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-22_195316.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-23_073814.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-28_221627.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-28_222419.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-28_223036.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-28_223551.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-10-29_164124.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-03_123104.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-03_125738.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-11_082656.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-13_073715.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-13_074256.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-13_080317.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-13_080823.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-13_081349.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-17_214345.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-18_094852.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-18_195857.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-21_205614.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-21_223615.zip
Line_Selector/Line_Selector-backups/Line_Selector-2023-11-21_225356.zip
Line_Selector/production/.DS_Store
Line_Selector/production/Line_Selector_1.0A_2023-10-28_22-34-52/bom.csv
Line_Selector/production/Line_Selector_1.0A_2023-10-28_22-34-52/designators.csv
Line_Selector/production/Line_Selector_1.0A_2023-10-28_22-34-52/Line_Selector_1.0A.zip
Line_Selector/production/Line_Selector_1.0A_2023-10-28_22-34-52/netlist.ipc
Line_Selector/production/Line_Selector_1.0A_2023-10-28_22-34-52/positions.csv
KiCAD7/production/Line_Selector_1.0A_2023-10-28_22-34-52/bom.csv
KiCAD7/production/Line_Selector_1.0A_2023-10-28_22-34-52/designators.csv
KiCAD7/production/Line_Selector_1.0A_2023-10-28_22-34-52/Line_Selector_1.0A.zip
KiCAD7/production/Line_Selector_1.0A_2023-10-28_22-34-52/netlist.ipc
KiCAD7/production/Line_Selector_1.0A_2023-10-28_22-34-52/positions.csv
Line_Selector/.DS_Store
Line_Selector/~Line_Selector.kicad_sch.lck
Line_Selector/control.kicad_sch
Line_Selector/fp-info-cache
Line_Selector/fp-lib-table
KiCAD7/.DS_Store
KiCAD7/~Line_Selector.kicad_sch.lck
KiCAD7/fp-info-cache
KiCAD7/fp-lib-table
KiCAD7/Library.pretty/GND_BRG.kicad_mod
KiCAD7/Line_Selector_v1p1.net
KiCAD7/Line_Selector.net
ls3/ls3/Debug/ls3.lss
ls3/ls3/Debug/ls3.map
ls3/ls3/Debug/ls3.srec
ls3/ls3/Debug/main.d
ls3/ls3/Debug/main.o
ls3/ls3/Debug/ls3.elf
ls3/ls3/ls3.componentinfo.xml
ls3/.vs/ls3/v14/.atsuo
